@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", sans-serif;
}

section {
  position: relative;
  height: 100svh;
  /*padding: 2em;*/
  overflow: hidden;
}

.copy-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*border-radius: 2rem;*/
}

.header .copy-container {
  background-color: #e5e6e4;
}

.ingredients .copy-container {
  background-color: #cfd2cd;
}

.routine .copy-container {
  background-color: #b1bab7;
}
